# Copiar a /var/www/sources/openpay/precios-mysql.env
# chmod 640 && chown root:www-data

MEMBERSHIP_DB_HOST=127.0.0.1
MEMBERSHIP_DB_NAME=imcyc_precios_memberships
MEMBERSHIP_DB_USER=precios_memberships
MEMBERSHIP_DB_PASSWORD=GENERAR_PASSWORD_MYSQL_SEGURO
